@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  @apply bg-gradient-to-b from-indigo-100 to-cyan-100 text-stone-900;
}

html,
body,
#root {
  min-height: 100vh;
}

select,
input {
  @apply bg-white;
}

.currency-input {
  @apply px-4 py-2 rounded-lg w-full;
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
